/* body {
  background: url(/abstract-computer-chip-metal-binary-code-security-generated-by-ai.jpg);
}
 */

body {
  background: #f3f5fc;
}
.principal {
  display: flex;
  flex-direction: row;
}

.seccion1 {
  width: 70%;
}

.logo {
  align-items: vertical;
  box-shadow: 0px 8px 24px 0px #0000000a;
}
textarea {
  border: none;
  background: #f3f5fc;
  resize: none;
  font-size: 1em;
  margin: 0 20%;
  height: 50%;
  top: 168px;
  left: 240px;
}
.bts-enc-desc {
  display: inline-flex;
  width: 70%;
}
.bts-enc-desc input {
  display: inline;
  color: #0a3871;
  font-size: 1em;
  text-align: center;
  line-height: 1;
  width: 30%;
  height: 40px;
  border-radius: 24px;
  padding: 5px;
  gap: 8pxpx;
}

.input-padron {
  height: 400px;
  margin: 5px auto;
  display: block;
  font-family: Inter;
  font-size: 1.5em;
  width: 60%;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}
.bts-enc-desc {
  height: 18px;
  top: 851px;
  left: 240px;
}

input {
  margin: 0 5%;
}

.rectangule {
  text-align: center;
  width: 25%;
  margin: 2%;
  top: 40px;
  border-radius: 32px;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px #00000014;
}

#imgCifrar {
  margin-top: 5em;
  width: 100%;
}

.mens-txt-no-enc {
  font-family: Inter;
  font-size: 24px;

  background: #343a40;
}

.mens-txt-enc {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400ox;
  line-height: 24px;
  background: #495057;
}

textarea:hover {
  border: none;
}
