body {
  background: #f3f5fc;
  height: 100vh;
}
.principal {
  display: flex;
  flex-direction: row;
}

.seccion1 {
  width: 66.6%;
  margin-top: 3vh;
}

.logo {
  align-items: vertical;
  box-shadow: 0px 8px 24px 0px #0000000a;
}
textarea {
  border: none;
  background: #f3f5fc;
  resize: none;
  font-size: 1em;
  margin: 20% 20%;
}

.bts-enc-desc {
  display: block;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
}

.nota2 {
  text-align: left;
  margin-left: 25%;
  opacity: 0.8;
  margin-bottom: 2vh;
  box-sizing: border-box;
}

.inputs input {
  width: 35%;
}

input {
  border-color: #0a3871;
  font-size: 1em;
  text-align: center;
  border-radius: 24px;
  padding: 5px;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
}

.input-padron {
  height: 65vh;
  margin: 1% auto;
  display: block;
  font-family: Inter;
  font-size: 1.5em;
  width: 55%;

  letter-spacing: 0em;
  text-align: left;
}

/* */
.bts-enc-desc {
  width: 55%;
  position: absolute;
  bottom: 10%;
}

.inputs {
  margin-left: 25%;
  display: flex;
  box-sizing: border-box;
  width: 75%;
  text-align: center;
  justify-content: space-between;
}

.rectangule {
  text-align: center;
  align-items: center;
  margin: 2%;
  width: 35%;
  height: 90vh;
  border-radius: 32px;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px #00000014;
  box-sizing: border-box;
}

#imgCifrar {
  margin-top: 10%;
  margin: 2% auto;
  padding: 5%;
  width: 90%;
}

.mens-txt-no-enc {
  font-family: Inter;
  font-size: 24px;
  background: #343a40;
}

.mensaje-resultado {
  padding: 5%;
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  color: #495057;
  word-wrap: break-word;
}

input:hover {
  transition: 300ms;
  background: #0a3871;
  color: #ffffff;
  cursor: pointer;
}

.textainput-padron:focus {
  border-color: #86addc;
}

.classCopy {
  width: 35%;
  position: absolute;
  bottom: 10%;
}

.btcCopy {
  position: relative;
  width: 41.5%;
  margin: 0 auto;
}
